.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #afb4c2);
}
.tittle{
    font-size: 85px;
    color: #fff;
    animation: flipTitle 5s;
}
@keyframes flipTitle {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}
.containerInput{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    display: flex;
    margin: 34px 0;
    border-radius: 8px;
    box-shadow: 1px, 3px, 8px rgba(0, 0, 0, 0.5);
}
.containerInput{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: white ;
    outline: none;
    margin-right: 8px;
}
.containerInput input ::placeholder{
    color: transparent; 
}
.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.buttonSearch :hover{
    transform: scale(1.2);
}
.dados{
    display: flex;
    justify-content:flex;
    background-color: white;
    align-items: center;
    width: 500px;
    border-radius: 8px;
    flex-direction: column;
}
.dados h1{
    margin: 16px;
    font-size: 39px;
}
.dados p{
    margin-bottom: 16px;
    font-weight: bold;

}
